.credit {
  display: flex;
  flex-wrap: wrap;
  padding-top: 95px;

  @media ($tablet) {
    padding: 68px 45px 0 45px;
  }

  @media ($mobile) {
    padding: 48px 15px 0;
  }

  h2 {
    width: 100%;
    margin: 0 0 50px 0;
    padding-right: 50px;
    font-size: 41px;
    line-height: 58px;

    @media ($tablet) {
      margin: 0 0 28px 0;
      font-size: 32px;
      line-height: 45px;
    }

    @media ($mobile) {
      margin: 0 0 20px;
      padding-right: 0;
      font-size: 22px;
      line-height: 31px;
    }
  }

  h3 {
    margin: 0 0 15px 0;
    font-weight: 500;
    font-size: 22px;
    line-height: 31px;

    @media ($tablet) {
      margin: 0 0 10px;
      font-size: 18px;
      line-height: 25px;
    }

    @media ($mobile) {
      font-size: 16px;
      line-height: 22px;
    }
  }
}

.credit__inner {
  width: calc(100% - 500px);

  @media ($tablet) {
    width: 100%;
  }
}

.credit__goal {
  width: 100%;
  margin-bottom: 13px;
  padding-right: 10%;

  @media ($tablet) {
    margin: 0;
    padding: 0;
  }
}

.credit__calculator {
  display: none;
  width: 100%;
  padding: 20px 10% 0 0;

  @media ($tablet) {
    padding: 36px 0 0 0;
  }

  @media ($mobile) {
    padding: 24px 0 0 0;
  }
}

.credit__block {
  display: none;

  &--active {
    display: block;
  }
}

.credit__item {
  margin-bottom: 18px;

  @media ($tablet) {
    margin-bottom: 13px;
  }

  @media ($mobile) {
    margin-bottom: 9px;
  }

  label {
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 22px;
    color: #394959;
  }

  input {
    width: 100%;
    padding: 16px 50px;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    border: 1px solid $color-default;
    border-radius: 4px;

    @media ($tablet) {
      padding: 18px 50px;
      font-size: 16px;
      line-height: 22px;
    }
  }
}

.credit__checker {
  margin: 0;
  padding: 0;
  list-style: none;

  label {
    position: relative;
    padding-left: 24px;
    font-size: 16px;
    line-height: 22px;
    cursor: pointer;

    @media ($mobile) {
      font-size: 14px;
      line-height: 20px;
    }
  }
}

.credit__checker-item {
  margin-bottom: 10px;

  input + label::before {
    content: "";
    position: absolute;
    top: 1px;
    left: 0;
    box-sizing: border-box;
    width: 16px;
    height: 16px;
    border: 1px solid $color-design;
    border-radius: 2px;
  }

  input:checked + label::after {
    content: "";
    position: absolute;
    top: 1px;
    left: 0;
    width: 16px;
    height: 16px;
    background-image: url("../img/bg/icon-checkbox.svg");
    background-repeat: no-repeat;
  }

  input:focus + label,
  input:hover + label {
    opacity: 0.6;
  }

  input:focus + label::before,
  input:hover + label::before {
    border: 1px solid #003399;
  }
}

.credit__offer {
  width: 500px;
  margin-left: auto;

  @media ($tablet) {
    width: 100%;
    padding-top: 32px;
  }

  @media ($mobile) {
    padding-top: 20px;
  }
}

.credit__request {
  display: none;
  width: 770px;
  margin: 58px auto 0;
  padding: 63px 70px 82px;
  background-color: $color-bg-base;

  @media ($tablet) {
    margin-top: 0;
    padding: 56px 0 0 0;
    background-color: transparent;
  }

  @media ($mobile) {
    width: 290px;
    padding: 44px 0 0 0;
  }

  &--active {
    display: block;
  }
}
