.goal {
  position: relative;

  h3 {
    margin: 0 0 20px 0;

    @media ($mobile) {
      margin: 0 0 15px 0;
    }
  }

  input {
    width: 100%;
    padding: 19px 50px 19px 22px;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    color: $color-default;
    border: 1px solid $color-default;
    border-radius: 4px;
    cursor: pointer;

    @media ($tablet) {
      padding: 17px 50px 17px 22px;
    }

    @media ($mobile) {
      padding: 18px 50px 18px 14px;
    }
  }
}

.goal__icon {
  position: absolute;
  top: 76px;
  right: 14%;
  cursor: pointer;
  transition: 0.6s;

  @media ($tablet) {
    top: 68px;
    right: 24px;
  }

  @media ($mobile) {
    top: 62px;
    right: 14px;
  }

  &--active {
    transform: rotate(-180deg);
  }

  &:hover,
  &:focus {
    opacity: 0.6;
  }
}

.goal__list {
  position: absolute;
  top: 109px;
  display: none;
  width: 90%;
  margin: 0;
  padding: 0;
  line-height: 22px;
  list-style: none;
  background-color: #ffffff;
  border: 1px solid $color-default;
  border-radius: 0 0 4px 4px;
  z-index: 2;

  @media ($tablet) {
    top: 103px;
    width: 100%;
  }

  @media ($mobile) {
    top: 95px;
  }

  &--active {
    display: block;
  }
}

.goal__link {
  display: block;
  padding: 19px 23px;
  text-align: left;
  border-bottom: 1px solid #c1c2ca;

  @media ($tablet) {
    padding: 18px 23px;
    font-size: 16px;
  }

  @media ($mobile) {
    padding: 19px 14px;
  }

  &:focus,
  &:hover {
    opacity: 0.6;
  }
}
