.header {
  background-color: #f6f7ff;
}

.header__nav {
  padding: 27px 0 25px;

  @media ($tablet) {
    padding: 22px 0;
  }

  @media ($mobile) {
    position: relative;
    padding: 10px 0 18px 0;
  }
}
