.service {
  height: auto;
  box-sizing: border-box;
  padding: 62px 135px 60px 70px;

  @media ($tablet) {
    padding: 55px 5px 60px 45px;
  }

  @media ($mobile) {
    padding: 52px 15px 60px;
  }

  b {
    display: block;
    margin-bottom: 27px;
    font-weight: 500;
    font-size: 22px;
    line-height: 31px;

    @media ($tablet) {
      margin-bottom: 25px;
      font-size: 18px;
      line-height: 25px;
    }

    @media ($mobile) {
      width: 270px;
      margin-bottom: 21px;
      font-size: 16px;
      line-height: 22px;
    }
  }

  p {
    width: 85%;
    margin: 0;
    line-height: 25px;

    @media ($tablet) {
      font-size: 16px;
      line-height: 22px;
    }

    @media ($mobile) {
      width: 288px;
      font-size: 14px;
      line-height: 20px;
    }
  }

  img {
    width: 440px;
    height: 290px;

    @media ($tablet) {
      width: auto;
      height: 260px;
      margin: 0;
      margin-left: 30px;
      margin-top: 7px;
    }

    @media ($mobile) {
      position: absolute;
      width: 87px;
      height: 113px;
      top: 89px;
      right: 0;
    }
  }
}

.service__content {
  width: 43%;
  box-sizing: border-box;

  @media ($tablet) {
    width: 50%;
  }

  @media ($mobile) {
    width: 100%;
  }
}

.service__inner-list {
  margin: 0 0 22px 0;
  padding: 0;
  line-height: 24px;
  list-style: none;

  @media ($tablet) {
    margin: 0 0 12px 0;
    font-size: 16px;
    line-height: 21px;
  }

  @media ($mobile) {
    position: relative;
    width: 229px;
    margin: 0 0 12px 0;
    font-size: 14px;
    line-height: 17px;
    z-index: 10;
  }
}

.service__inner-item {
  position: relative;
  padding-bottom: 13px;
  padding-left: 20px;

  @media ($tablet) {
    padding-bottom: 15px;
  }

  @media ($mobile) {
    padding-bottom: 14px;
    padding-left: 15px;
  }

  &::before {
    content: "";
    position: absolute;
    width: 13px;
    height: 10px;
    top: 6px;
    left: 0;
    background-image: url("../img/bg/check-icon.svg");
    background-repeat: no-repeat;

    @media ($mobile) {
      top: 1px;
      left: -2px;
    }
  }
}

.service__link {
  padding: 16px 31px;
  font-size: 16px;
  line-height: 19px;
  font-weight: 500;
  color: $color-bg-base;
  background-color: $color-design;

  @media ($mobile) {
    display: block;
    width: 290px;
    padding: 13px 31px;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
  }

  .service__link-main {
    @media ($mobile) {
      display: none;
    }
  }

  .service__link-mobile {
    display: none;

    @media ($mobile) {
      display: block;
    }
  }
}


.service__link-calc {
  font-weight: 500;
  text-decoration: underline;

  &:hover,
  &:focus {
    opacity: 0.6;
    transition: 0.9s;
  }

  &:active {
    opacity: 0.3;
    transition: 0.9s;
  }
}

.service__img {
  margin-left: auto;

  @media ($tablet) {
    margin-left: 0;
  }
}
