body {
  min-width: 1366px;
  margin: 0;
  font-size: 16px;
  line-height: 19px;
  font-family: $font-base;
}

a {
  color: inherit;
  text-decoration-skip-ink: none;
  transition-timing-function: ease-in-out;
  transition-duration: 0.3s;
  transition-property: color, background-color, opacity, border-color;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
