.swiper-container-horizontal > .swiper-pagination-bullets {
  bottom: 36px;

  @media ($tablet) {
    bottom: 11px;
  }

  @media ($mobile) {
    bottom: 7px;
  }
}

.swiper-pagination-bullet {
  background-color: #2028b6;
  opacity: 1;

  @media ($mobile) {
    width: 5px;
    height: 5px;
  }
}

.swiper-pagination-bullet-active {
  background-color: #f6f7ff;
}

