$font-base: "Roboto", "Arial", sans-serif;
$tablet: "max-width: 1023px";
$tablet-plus: "min-width: 1023px";
$mobile: "max-width: 768px";
$color-default: #1f1e25;
$color-lighter: #707c87;
$color-bg-base: #f6f7ff;
$color-design: #2c36f2;
$retina: "min-resolution: 1.5dppx";
$gradient-photo-card: linear-gradient(180deg, #2d36f3 33%, #2128b6 99%);
$gradient-photo-man: linear-gradient(109deg, #dee2ed 68%, #f7fcff 91%);
