$font-base: "Roboto", "Arial", sans-serif;
$tablet: "max-width: 1023px";
$mobile: "max-width: 768px";
$color-default: #1F1E25;
$color-lighter: #707C87;
$color-bg-base: #F6F7FF;
$color-design: #2C36F2;
