$font-base: "Roboto", "Arial", sans-serif;
$desktop-plus: "min-width: 1366px";
$tablet: "max-width: 1023px";
$mobile: "max-width: 767px";
$color-default: #1f1e25;
$color-lighter: #707c87;
$color-bg-base: #f6f7ff;
$color-design: #2c36f2;
$retina: "min-resolution: 1.5dppx";
